<h2>Edit</h2>
<ul>
    <li><label for="name">Name:</label>
        <input type="text" id="name" ng-model="contact.name">
    </li>
    <li>
        <label for="number">Number:</label>
        <input type="text" id="number" ng-model="contact.number">
    </li>
</ul>
<a href="#/delete/{{index}}">Delete</a>
<a href="#/"> back to list</a>
