<h2>List</h2>
<div>
    <label>Search:</label>
    <input type="search" ng-model="search">
</div>
<ul>
    <li ng-repeat="contact in contacts | filter:search">
        <a href="#/contact/{{$index}}">{{contact.name}}</a> : {{contact.number}}
    </li>
</ul>
<a href="#/add">Add new contact</a>