<!DOCTYPE html>
<html ng-app>
<head>
    <link rel="stylesheet" type="text/css" href="../../wttc_project_ui/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="todo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script type="text/javascript" src="todo.js"></script>
    <title></title>
</head>
<body>
<div ng-controller="TodoCtrl">
    <h2> {{getTotalTodos()}}</h2>
    <ul class="unstyled">
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
    </ul>
    <form class="form-horizontal">
        <input type="text" ng-model="formTodoText" ng-model-instant>
        <button class="btn" ng-click="addTodo()"><i class="icon-plus">Add</i></button>
    </form>
    <button class="btn-large"><i class="icon-trash" ng-click="clearCompleted()">Clear Completed</i></button>
</div>
</body>
</html>