<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title></title>
</head>
<body>
<div ng-controller="Example">
    <clicker click="handler()" value="click">{{msg}}</clicker>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script type="text/javascript">
    angular.module("myApp", [])
            .directive("clicker", function () {
                return {
                    restrict: "E",
                    replace: true,
                    transclude: true,
                    template: '<button ng-transclude></button>',
                    link: function (scope, element, attrs) {
                        element.bind("click", function () {
                            scope.$eval(attrs.click);
                        })
                    }
                }
            })
            .controller("Example", function ($scope) {
                $scope.msg = "Hello";
                $scope.handler = function () {
                    alert($scope.msg);
                }
            })
</script>
</body>
</html>