<!DOCTYPE html>
<html ng-app="filterApp">
<head>
    <title>Filters</title>
</head>
<body>
<div ng-controller="Filter">
    {{text | clean: ' '}}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script type="text/javascript">
    angular.module("filterApp", [])
            .filter("clean", function () {
                return function (input, separator) {
                    var filter = new RegExp('[^a-z0-9' + (separator || '-') + ']', 'ig');
                    return input.toLowerCase()
                            .replace(/\s+/g, (separator || '-'))
                            .replace(filter, '');

                }
            })
            .controller("Filter", function ($scope) {
                $scope.text = "Hello Guys, this is AngularJS!";
            });
</script>
</body>
</html>