<!DOCTYPE html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <title>Angular - Controllers</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font: 16px/1.5 sans-serif;
            color: #222;
            margin: 5em;
        }

        .first-true {
            background-color: red;
        }
    </style>
</head>
<body>
<ul>
    <li>
        <input type="checkbox" ng-model="checkedFirst"><label>Show First</label>

        <div ng-controller="First" ng-hide="!checkedFirst">
            <label>Message:</label>
            <input type="text" ng-model="yourMessage" placeholder="Enter a message">
            <label>Name:</label>
            <input type="text" ng-model="yourName" placeholder="Enter a name here">
            <hr>
            <h1>{{yourMessage}} {{yourName}}</h1>
        </div>
    </li>
    <li>
        <input type="checkbox" ng-model="checkedCtrl"><label>Show Ctrl</label>

        <div ng-controller="Ctrl" ng-hide="!checkedCtrl">
            <input type="text" ng-model="name">

            <h1>{{name}}</h1>

            <h1>{{age}}</h1>
            <hr>
        </div>
    </li>
    <li>
        <div>
            <input type="checkbox" ng-model="checked"><label>Show</label>
        </div>
        <div ng-controller="AnotherCtrl" ng-hide="!checked">
            <input type="text" ng-model="name">

            <h1>{{name}}</h1>

            <h1>{{age}}</h1>
            <hr>
            <div>
                <label>Name</label><input type="text" ng-model="name">
            </div>
            <div>Hello {{name || "World"}}!</div>
        </div>
    </li>
    <li>
        <div>
            <input type="search" ng-model="search">
        </div>
        <div ng-controller="List">
            <ul>
                <li ng-repeat="person in people | filter:search">{{person.name + ": " + person.age}}
                    <input type="button" value="x" ng-click="remove($index)" class="first-{{$first}}">
                    <span ng-show="$first">First</span>
                    <span ng-show="$last">Last</span>
                    <span ng-show="$middle">Middle</span>
                </li>
            </ul>
            <span>There are {{people.length}} people in the list</span>
            <div>
                <label>Name: </label><input type="text" ng-model="new_name"><br>
                <label>Age: </label><input type="number" ng-model="new_age">
                <br>
                <input type="button" value="Add" ng-click="add()">
            </div>
        </div>
    </li>
</ul>

<script type="text/javascript">
    var Ctrl = function ($scope) {
        $scope.name = "Maksym Tashchuk";
        $scope.age = "22";
    };

    var AnotherCtrl = function ($scope) {
        $scope.name = "Nadia Tashchuk";
        $scope.age = "21";
        $scope.$watch('name', function () {
            console.log($scope.name);
        });
    };
    var First = function ($scope) {
    };
    var List = function ($scope) {
        $scope.people = [
            {
                name: "Maksym",
                age: 22
            },
            {
                name: "Nadia",
                age: "21"
            },
            {
                name: "Polina",
                age: 1
            }
        ];
        $scope.add = function () {
            $scope.people.push({
                name: $scope.new_name,
                age: $scope.new_age
            });
            $scope.new_name = "";
            $scope.new_age = "";
        };
        $scope.remove = function (index) {
            $scope.people.splice(index, 1);
        }
    };
</script>
</body>
</html>