<!DOCTYPE html>
<html ng-app>
<head>
    <title>Contacts</title>
    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <style type="text/css">
        * {
            box-sizing: border-box;
        }

        body {
            font: 14px/1.5 sans-serif;
            color: #222;
            margin: 3em;
        }

        select {
            width: 40%;
        }
    </style>
</head>
<body>
<div ng-controller="Contacts">
    <div>
        <input type="search" ng-model="search">
    </div>
    <select name="contacts" id="contacts" ng-model="selected_person"
            ng-options="person.name for person in people | filter: search">
        <option value="">Choose a person</option>
    </select>

    <div>
        <label>Name:<input type="text" value="{{selected_person.name}}"></label>
        <br>
        <label>Number:<input type="text" value="{{selected_person.number}}"></label>
    </div>
</div>

<script type="text/javascript">
    var Contacts = function ($scope) {
        $scope.people = [
            {
                name: 'Maksym',
                number: "+380 66 505 6607"
            },
            {
                name: 'Nadia',
                number: "+380 50 175 2255"
            },
            {
                name: 'Sveta',
                number: "+380 50 842 4409"
            },
            {
                name: 'Marina',
                number: "+380 50 586 0704"
            },
            {
                name: 'Nastia',
                number: "+380 50 980 1009"
            }
        ]
    }
</script>
</body>
</html>