<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <title>Modules</title>
    <style type="text/css">
        * {
            box-sizing: border-box;
        }

        body {
            font: 14px/1.5 sans-serif;
            color: #222;
            margin: 3em;
        }
    </style>
</head>
<body>
<div ng-controller="Example">
    {{name}}
</div>
</body>
<script>
    var myApp = angular.module('myApp', []);
    myApp.controller("Example", function ($scope) {
        $scope.name = "Module Example";
    });
</script>
</html>