<!DOCTYPE html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <title>AngularJS</title>
    <style type="text/css">
        * {
            box-sizing: border-box;
        }

        body {
            font: 16px/1.5 sans-serif;
            color: #222;
            margin: 3em;
        }

        .browser {
            box-shadow: 0 2.5em 2.5em rgba(0, 0, 0, .2), 0 0 1px rgba(0, 0, 0, .2)
        }

        .url {
            background: #eee;
            padding: 0.444em 0.5em;
        }

        .url input {
            width: 85%;
        }

        .url label {
            display: inline-block;
            width: 14%;
            font-size: 0.667em;
            text-align: left;
        }

        .page {
            border: 1px solid #eee;
            padding: 2.5em;
            min-height: 14em;
        }

        .page input {
            width: 100%;
        }
    </style>
</head>
<body>
<div class="browser" ng-controller="Browser">
    <div class="url">
        <label>&larr; &rarr; &infin;</label>
        <input type="text" value="edit/{{path}}">
    </div>
    <div class="page">
        <label>Update the url:</label>
        <input type="text" ng-model="path" ng-change="clean()">
    </div>
</div>
</body>
<script type="text/javascript">
    var Browser = function ($scope) {
        $scope.clean = function () {
            $scope.path = $scope.path.replace(/\s+/, '-').replace(/[^a-z0-9-]/i, '');
        }
    };

</script>
</html>