<!DOCTYPE html>
<html ng-app="app">
<head>
    <link rel="stylesheet" type="text/css" href="../../wttc_project_ui/css/bootstrap.css">
    <title></title>
</head>
<body>
<div ng-controller="TableCtrl">
    <input type="text" ng-model="field">
    <button ng-click="add()">+</button>

    <ul>
        <li ng-repeat="item in items" class="{{item.shadow}}">{{item.text}}</li>
    </ul>
    <div ng-show="draggedItem != null">{{draggedItem.text}}</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script type="text/javascript">
    var app = angular.module('app', []);
    app.controller("TableCtrl", function ($scope) {
        var arr = [
            {
                val: "<input type='text' ng-model='field'>"
            }
        ];
        $scope.add = function () {
            console.log(arr)
        }
        $scope.items = [
            {text: "First"},
            {text: "Second"}
        ];
        $scope.shadowItem = null; // Item at the original position
        $scope.draggedItem = null; // Clone item being moved

        $scope.dragStart = function (item) {
            $scope.shadowItem = item;
            $scope.draggedItem = angular.copy(item);
            item.shadow = "shadow"; // set a CSS class to change its look
            // From now on, the DIV is dragged around
        }

        $scope.drop = function () {
            // Save the new item position
            $scope.draggedItem = null; // Makes the dragged clone item disappear
            $scope.shadowItem.shadow = ""; // give the item its normal look back
        }
    });

</script>
</body>
</html>