<!DOCTYPE html>
<html ng-app="gemStore">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <style type="text/css">
        .ng-invalid.ng-dirty {
            border-color: #FA787E;
        }

        .ng-valid.ng-dirty {
            border-color: #78FA89;
        }
    </style>
    <title>Gems Store</title>
</head>
<body ng-controller="StoreController as store">
<header>
    <h1 class="text-center">Flatlander Crafted Gems</h1>

    <h2 class="text-center"> an Angular store </h2>
</header>
<div class="list-group">
    <div class="list-group-item" ng-repeat="product in store.products">
        <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>
        <product-gallery></product-gallery>
        <product-tabs></product-tabs>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="products.js"></script>
</body>
</html>