<!--  Review Tab's Content  -->
<div ng-show="tab.isSet(3)">
    <!--  Product Reviews List -->
    <ul>
        <h4>Reviews</h4>
        <li ng-repeat="review in product.reviews">
            <blockquote>
                <strong> {{review.stars}} Stars</strong>
                {{review.body}}
                <cite class="clearfix">by: {{review.author}} on {{review.createdOn | date}}</cite>
            </blockquote>
        </li>
    </ul>
    <form action="" name="reviewForm" ng-controller="ReviewController as reviewCtrl"
          ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
        <blockquote>
            <strong>{{reviewCtrl.review.stars}} Stars</strong>
            {{reviewCtrl.review.body}}
            <cite class="clearfix">{{reviewCtrl.review.author}}</cite>
        </blockquote>
        <h4>Submit a Review</h4>
        <fieldset class="form-group">
            <select class="form-control" ng-model="reviewCtrl.review.stars"
                    ng-options="stars for stars in [5,4,3,2,1]"
                    title="Stars" required>
                <option value="">Rate the Product</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <textarea class="form-control" ng-model="reviewCtrl.review.body"
                      placeholder="Write a short review of the product..."
                      title="Review"></textarea>
        </fieldset>
        <fieldset class="form-group">
            <input type="email" class="form-control" ng-model="reviewCtrl.review.author"
                   placeholder="yourEmail@.com"
                   title="Email" required>
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" class="btn bg-primary pull-right" value="Submit">
        </fieldset>
    </form>
</div>