html, body {
    height: 100%;
}

body {
    display: table;
    margin: 0 auto;
}

.page {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.wrapper {
    width: 980px;
    margin: auto;
    height: 490px;
    /*border-bottom: 1px dashed #0CAEE5;*/
}

.wrapper .right-col {
    width: 500px;
    margin-left: 100px;
    float: right;
}

.wrapper .left-col {
    width: 360px;
    /* border-right: 1px dashed #0CAEE5;*/
    height: 180px;
    position: relative;
    float: left;
}

h1, h2 {
    color: #808080;
}

h1 {
    font-family: 'Oxygen', sans-serif;
    font-size: 36px;
}

.btn {
    float: right;
}

.small_column {
    width: 45px;
    font-size: 12px;
    text-align: center;
}

.middle_column {
    width: 60px;
    font-size: 12px;
    text-align: center;
}

.large_column {
    width: 120px;
    text-align: center;
}

.table {
    margin: 25px auto;
    width: 60%;
    max-width: 60%;
}

.table-hover {
    width: 60%;
}

.text-area-default-size {
    height: 35px;;
    font-size: 12px;
    resize: none;
    overflow: hidden;
}

.text-are-open {
    height: 130px;
    width: 360px;
    font-size: 13px;
    resize: none;
}

.add-row {
    float: right;
}

#tournamentName {
    width: 280px;;
}

#tournamentDate {
    width: 280px;;
}

.tournamenslist select {
    width: 290px;
}

.actions {
    display: inline-block;
    margin-right: 20px;
    margin-top: 25px;
}

input[type="radio"]+div {
    display: inline-block;
    margin-left: 20px;
    height: 40px;
    width: 60px;
    /*border-radius: 100%;*/
    opacity: 0.7;
}

.title {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    height: 10px;
    font-size: 16px;
}

input[type="radio"]:checked+div {
    opacity: 1;
}

.new {
    background-color: #E40075;
}

.edit {
    background-color: #0FA048;
}

.export {
    background-color: #0CAEE5;
}

.delete {
    background-color: #138397;
}

.radio-wrapper label {
    display: inline-block;
}

.radio-wrapper {
    width: 275px;
}